:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

.main-btn {
    /* background-color: var(--red-color);
    color: var(--yellow-color); */
    color: white;
    background-color: transparent;
    border: 1px solid #4570b1;
}

.main-btn:hover {
    color: #fff;
    background-color:#0d6efd;
    border: 1px solid #253c60;
}

.main-title::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
} 

                                    /* Start Nanvbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}

.navbar .search {
    color: var(--green-color);
    /* font-size: 1.4rem; */
    border-left: 1px solid var(--green-color);
}

.navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-color: white;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"] {
    border-color: var(--green-color);
}

                                    /* End Nanvbar */

                                    /* Start Landing */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

.landing .text-landing h1 {
    font-weight: bold;
}

.landing .text-landing a {
    font-weight: bold;
    font-size: 19px;
    padding: 9px 40px;
    line-height: 1;
}
                                    /* End Landing */

                                    /* Start Features */
.features .icon-holder {
    height: 200px;
}

.features .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}

.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}

.features .icon-holder .icon {
    color: var(--green-color);

}

.features .feat h4 {
    color: var(--yellow-color);
}

                                    /* End Features */

                                    /* Start Our Work */
.our-work {
    background-color: var(--section-color);
}

.our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}

.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.our-work ul li:not(.active):hover {
    color: var(--red-color);
}

.our-work .row .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}

.our-work .row .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: rgb(112 113 114 / 55%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX( calc(-100% - 5px) );
}

.our-work .row .box:hover::before {
    transform: translateX(0);
}

.our-work .main-btn {
    color: white;
    background-color: #0d6efd;
    border: 0;
    padding: 0.2rem 2.5rem;
}

.our-work .main-btn:hover {
    color: #fff;
    background-color: #453f3f;
}

                                    /* End Our Work */

                                    /* Start Stuff */
.stuff .description {
    max-width: 500px;
}

.stuff .row .main-btn {
    background-color: #0d6efd;
}

.stuff .main-btn:hover {
    color: #fff;
    background-color: #453f3f;
}
                                    /* End Stuff */

                                    /* Start Team  */
.team {
    background-color: var(--section-color);
}

.team h2 {
    color: var(--yellow-color);
}

.team .box h4 {
    background-color: var(--green-color);
}
                                    /* End Team  */

                                    /* Start Techs */

                                    /* End Techs */

                                    /* Start Project */
.project {
    background-color: var(--dark-color);
}
                                    /* End Project */

                                    /* Start Blog */
.blog .main-btn {
    background-color: #0d6efd;
}

.blog .main-btn:hover {
    color: #fff;
    background-color: #453f3f;
}
                                    /* End Blog */

                                    /* Start Subscribe  */
.subscribe {
    
}

.subscribe .container {
    background-color: #19283f;
    border-radius: 10px;
    padding: 15px;
    color: white;
}

.subscribe .sub-text  {
    font-size: 16px !important;

}

.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid #777;
}

.subscribe input[type="text"]:focus {
    outline: none;
}

.subscribe input[type="text"]::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 12px;
}

.subscribe input[type="submit"] {
    /* background-color: var(--dark-color);
    color: var(--yellow-color); */
    background-color: #0d6efd;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 0;
}

.subscribe input[type="submit"]:hover {
    color: #fff;
    background-color: #453f3f;
}

@media (min-width: 991px) and (max-width: 1200px) {
    .subscribe input[type="submit"] {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
                                    /* End Subscribe  */

                                    /* Start Footer */
.footer {
    background-color: var(--dark-color);
}

.footer .copyright > span {
    color: var(--green-color);
}

.footer .copyright div span {
    color: var(--yellow-color);
}

.footer .contact ul svg {
    width: 20px;
    height: 20px;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}

.elzero {
    color: white;
    text-align: center;
    border-top: 1px solid #777;
    padding: 1rem 0 0 0;
    font-size: 12px;
}

.elzero a {
    font-weight: bold;
    font-size: 14px;
    transition: all 0.5s;
    text-decoration: none;
}

.elzero a:hover {
    color: var(--yellow-color);
    font-size: 15px;
}
                                    /* End Footer */






